<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Create Task</h3>
  </div>
  <div class="panel-body">
    <form accept-charset="UTF-8" role="form">
      <fieldset>
        <div class="form-group">
          <input class="form-control" id="name" name="name" placeholder="Task Name" type="text" value="{{name}}" />
        </div>
        {{#ifCond comments.length "<=" 0}}
          <div class="form-group">
            <textarea class="form-control" id="comment" name="comment" placeholder="Comments" rows="6" value=""></textarea>
          </div>
        {{/ifCond}}

        <div class="form-group">
          {{#select importance}}
            <option value="">Level of Importance</option>
            <option value="1">High</option>
            <option value="2">Average</option>
            <option value="3">Low</option>
          {{/select}}
        </div>
        <input class="btn btn-lg btn-success btn-block" type="submit" value="Create Task" />
      </fieldset>
    </form>
  </div>
</div>