<div class="panel panel-default">
  <div class="panel-heading">
    {{#if name}}
      <h3 class="panel-title pull-left">Update Task</h3>
      <i class="glyphicon glyphicon-remove pull-right" id="clearEditForm"></i>
      <div class="clearfix"></div>
    {{else}}
      <h3 class="panel-title">Create Task</h3>
    {{/if}}
  </div>
  <div class="panel-body">
    <form accept-charset="UTF-8" role="form">
      <fieldset>
        <div class="form-group">
          <input class="form-control" id="name" name="name" placeholder="Task Name" type="text" value="{{name}}" />
        </div>
        {{#if comments }}
        <div class="commentWrapper" style="display: block;">
          <div class="comment">

            {{#each comments}}
              <blockquote>
                <p>
                  {{this.comment}}
                </p>
                <footer>created by<cite>{{this.by}}</cite> at <cite>{{prettifyDate this.created_at}}</cite></footer>
              </blockquote>
            {{/each}}    
        
          </div>
          <div class="clearfix"></div>
        </div>
        {{else}}
          <div class="form-group">
            <textarea class="form-control" id="comment" name="comment" placeholder="Comments" rows="6" value=""></textarea>
          </div>
        {{/if}}

        <div class="form-group">
          {{#select importance}}
            <option value="">Level of Importance</option>
            <option value="1">High</option>
            <option value="2">Average</option>
            <option value="3">Low</option>
          {{/select}}
        </div>
        {{#if name}}
          <input class="btn btn-lg btn-success btn-block" type="submit" value="Update Task" />
        {{else}}
          <input class="btn btn-lg btn-success btn-block" type="submit" value="Create Task" />
        {{/if}}
      </fieldset>
    </form>
  </div>
</div>