  <div class="e">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Tasks</h3>
      </div>
    </div>
    <ul class="list-group checked-list-box" id="taskList"></ul>
  </div>
  <div class="btn-group">
    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
      Action
      <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
      <li>
        <a href="#">Archive Complete</a>
      </li>
      <li>
        <a href="#">Clear List</a>
      </li></ul>
  </div>
