<span class="importanceLevel pull-left {{importanceClass importance}}"></span>
{{name}}
	<span class="glyphicon glyphicon-plus controls pull-right"></span>&nbsp;<span class="badge badge-success pull-right">{{comments.length}}</span>
	<div class="commentWrapper">
	{{#if comments}}
		<div class="comment">
      {{#each comments}}
			<blockquote>
        <p>
          {{this.comment}}
        </p>
        <footer>created by<cite>{{this.by}}</cite> at <cite>{{prettifyDate this.created_at}}</cite></footer>
      </blockquote>
      {{/each}}
		</div>
	{{/if}}
		<hr />
        <div class="form-group">
        	<textarea class="form-control commentTextarea" name="description" placeholder="Comment..." rows="3" value=""></textarea>
		</div>
		<input class="btn btn-lg btn-success btn-block btn-sm commentAdd" type="submit" value="Add Comment" /></div>
	</div>