
  <div class="e">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Tasks</h3>
      </div>
    </div>
    <ul class="list-group checked-list-box" id="taskList"></ul>
  </div>
  <div class="btn-group" id="filterablearea">
    
  </div>
