{{name}}
{{#if comments}}
	<span class="glyphicon glyphicon-plus controls pull-right"></span>
	<div class="commentWrapper">
		<div class="comment">
      {{#each comments}}
			<blockquote>
        <p>
          {{this.comment}}
        </p>
        <footer>created by<cite>{{this.by}}</cite> at <cite>{{this.created_at}}</cite></footer>
      </blockquote>
      {{/each}}
		</div>
		<hr />
        <div class="form-group">
        	<textarea class="form-control" name="description" placeholder="Comment..." rows="3" value=""></textarea>
		</div>
		<input class="btn btn-lg btn-success btn-block btn-sm" type="submit" value="Add Comment" /></div>
	</div>
{{/if}}