<div class="page-title page-header" id="overview">
  <h2 id="overview">
    {{title}}
  </h2>
  <ul class="stats">
    <li class="ruby-red-bg">
      <div class="details">
        <span class="">{{high}}</span>
      </div>
    </li>
    <li class="light-amber-bg">
      <div class="details">
        <span class="">{{medium}}</span>
      </div>
    </li>
    <li class="light-blue-bg">
      <div class="details">
        <span class="">{{low}}</span>
      </div>
    </li>
  </ul>
  <div class="clearfix"></div>
</div>