.row
  .col-xs-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title Create Task
      .panel-body
        %form{"accept-charset" => "UTF-8", role: "form"}
          %fieldset
            .form-group
              %input.form-control{name: "name", placeholder: "Task name", type: "text"}/
            .form-group
              %textarea.form-control{name: "description", placeholder: "Comments", rows: "6", value: ""}
            %input.btn.btn-lg.btn-success.btn-block{type: "submit", value: "Create Task"}/
      
  .col-xs-6
    .e{style: ""}
      .panel.panel-default
        .panel-heading
          %h3.panel-title Tasks
      %ul.list-group.checked-list-box
        %li.list-group-item 
          Cras justo odio 
          %span.glyphicon.glyphicon-plus.pull-right#controls
          %div.commentWrapper
            %div.comment
              %blockquote
                %p
                  ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo egestas est. Integer faucibus tincidunt elit. Cras accumsan non enim a pretium.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo egestas est. Integer faucibus tincidunt elit. Cras accumsan non enim a pretium.
                %footer
                  created by
                  %cite Simon Fletcher
              %blockquote
                %p
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo egestas est. Integer faucibus tincidunt elit. Cras accumsan non enim a pretium.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo egestas est. Integer faucibus tincidunt elit. Cras accumsan non enim a pretium.
                %footer
                  created by
                  %cite Simon Fletcher
              %blockquote
                %p
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo egestas est. Integer faucibus tincidunt elit. Cras accumsan non enim a pretium.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo egestas est. Integer faucibus tincidunt elit. Cras accumsan non enim a pretium.
                %footer
                  created by
                  %cite Simon Fletcher
            %hr
            .form-group
              %textarea.form-control{name: "description", placeholder: "Comment...", rows: "3", value: ""}
            %input.btn.btn-lg.btn-success.btn-block.btn-sm{type: "submit", value: "Add Comment"}/
        %li.list-group-item 
          Dapibus ac facilisis in
          %span.glyphicon.glyphicon-plus.pull-right
        %li.list-group-item 
          Morbi leo risus
          %span.glyphicon.glyphicon-plus.pull-right
        %li.list-group-item 
          Porta ac consectetur ac
          %span.glyphicon.glyphicon-plus.pull-right
        %li.list-group-item 
          Vestibulum at eros
          %span.glyphicon.glyphicon-plus.pull-right
        %li.list-group-item 
          Cras justo odio
          %span.glyphicon.glyphicon-plus.pull-right
        %li.list-group-item 
          Dapibus ac facilisis in
          %span.glyphicon.glyphicon-plus.pull-right
        %li.list-group-item 
          Morbi leo risus
          %span.glyphicon.glyphicon-plus.pull-right
        %li.list-group-item 
          Porta ac consectetur ac
          %span.glyphicon.glyphicon-plus.pull-right
        %li.list-group-item 
          Vestibulum at eros
          %span.glyphicon.glyphicon-plus.pull-right
    .btn-group
      %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
        Action
        %span.caret
      %ul.dropdown-menu{role: "menu"}
        %li
          %a{href: "#"} Archive Complete
        %li
          %a{href: "#"} Clear List