!!!
%html
  %head
    %title Workr
    %meta{content: "width=device-width, user-scalable=no", name: "viewport"}
    %link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    %link(rel="stylesheet" href="stylesheets/main.css")
    %link(rel="stylesheet" href="stylesheets/style.css")
    %script(src="javascripts/vendor/jquery/dist/jquery.js")
    %script(src="javascripts/general/jquery.ui.touch-punch.min.js")
    %script(src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    %script(src="javascripts/general/checkbox.js")
  %body
    #wrapper
      .container
        #header
   
        #content
          .dashboard-wrapper
            =yield
   
      #footer
        .container
  
  %script(type="text/javascript" src="javascripts/vendor/require.js" data-main="javascripts/main")
  %script
    require.config({ urlArgs: "v=" +  (new Date()).getTime() });