<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
      Filter
      <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#" data-ref="importance-high"><span class="importanceLevel pull-left H"></span>High Importance</a></li>
      <li><a href="#" data-ref="importance-medium"><span class="importanceLevel pull-left A"></span>Normal Importance</a></li>
      <li><a href="#" data-ref="importance-low"><span class="importanceLevel pull-left L"></span>Low Importance</a></li>
      <li role="presentation" class="divider"></li>
      <li><a href="#" data-ref="tasks-live"><i class="glyphicon glyphicon-folder-open"></i> &nbsp;Live Tasks</a></li>
      <li><a href="#" data-ref="tasks-archive"><i class="glyphicon glyphicon-folder-close"></i> &nbsp;Archived Tasks</a></li>
  </ul>
</button>