/* CSS REQUIRED */
.state-icon {
    margin-right:5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

.well .list-group {
    margin-bottom: 0px;
}

* {
  border-radius: 0 !important;
}

.badge {
	border-radius:10px !important;
	margin-right:10px;
}

.importanceLevel {
	display: inline-block;
	border-radius:10px !important;
	height:10px;
	width:10px;
	margin-right:10px;
	background-color: #5CB85C;
	margin-top:5px;
}

.importanceLevel.H {
	background-color: #D9534F;
}

.importanceLevel.A {
	background-color: #F0AD4E;
}

.importanceLevel.L {
	background-color: #5BC0DE;
}

.badge-success {
  /*background-color: #5CB85C;*/
}

.panel-heading {
	border-bottom:none !important;
}

.panel {
	box-shadow: none !important;
	margin-bottom:0px !important;
}

.list-group-item:first-child {
	border-top:none !important;
}

.e .panel-default {
	border-bottom:none !important;
}
.e .list-group-item .commentWrapper {
	display: none;
	margin-top:20px;
	margin-bottom: 20px;
}

.commentWrapper .comment {
	max-height: 200px;
	overflow: auto;
	margin-bottom:20px;
}

blockquote {
	font-size:11.5px;
}

.glyphicon {
	cursor: pointer;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
	color: #F04124;
}

.has-error .form-control {
	border-color: #F04124;
}

.dropdown-menu > li > a {
	padding:3px 25px 3px 10px;
}

.e {
	min-height: 328px;
}

#sidebar {
	margin-bottom:40px;
}

.page-header {
	margin:40px 0px 40px;
}

#filterablearea {
	margin-bottom:40px;
}

li.list-group-item {
	cursor: move;
}

textarea {
	resize:none;
}
